* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

.entre-logo{
    display: none;
}
/* SIGNUP PAGE */

@media screen and (max-width: 428px) {

    .signup-container, .heading, .signup-form{
        display: flex;
    }

    .signup-container, .signup-form{
        flex-direction: column;
    }

    .signup-container{
        justify-content: space-around;
        align-items: center;
        flex: 1 1 auto;
    }

    .heading, .heading h2, .s-up-img, .signup-form, .icon, .s-u-input-wrapper i, .log-in-link a{
        position: relative;
    }

    .heading{
        align-items: center;
        flex-wrap: wrap;
        top: 51px;
    }

    .heading h2, .signup-form label, .s-u-full-name, .s-u-email, .s-u-user-name, .s-u-create-pwd, .s-u-confirm-pwd, .log-in-link a, .s-u-socials h3{
        font-weight: 700;
    }

    .heading h2, .signup-form label{
        color: #282973;
    }

    .heading h2{
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
        right: 40px;
    }

    .s-up-img{
        left: 50px;
    }

    .signup-form{
        top: 25px;
    }

    .signup-form label{
        margin-top: 10px;
        font-style: normal;
        font-size: 18px;
        line-height: 27px;
    }

    .s-u-input-wrapper{
        border: 1px solid #282973;
        width: 344.82px;
        height: 40.74px;
    }

    .s-u-full-name, .s-u-email, .s-u-user-name, .s-u-create-pwd, .s-u-confirm-pwd{
        outline: none;
        border: none;
        width: 312.5px;
        height: 38px;
        letter-spacing: normal;
        word-spacing: normal;
        font-size: 17px;
    }

    .shift{
        margin-left: 9px;
    }

    .icon{
        top: 5px;
        width: 25px;
        height: 20px;
    }

    .s-u-input-wrapper i{
        visibility: hidden;
    }
   
    .s-u-btn{
        margin-top: 44px;
        height: 42px;
        width: 129px;
        border-radius: 15px;
        border-style: none;
        background-color: #282973;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }

    .log-in-link a{
        text-align: center;
        left: 53px;
        top: -7px;
        color: #326CFB;
        font-style: normal;
        line-height: 24px;
        font-size: 17px;
    }

    .log-in-link a:hover{
        text-decoration: underline;
    }

    .s-u-socials{
        margin-top: 3.3125em;
        margin-left: 4.6em;
    }

    .s-u-socials h3{
        color: #000000;
        line-height: 24px;
        width: 237px;
    }

    .social-media-icons{
        margin-top: 0.5em;
        margin-left: 12vw;
    }

    .social-media-icons a{
        margin-left: 29px;
    }

    .social-media-icons a img{
        width: 41px;
        height: 41px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 429px) {

    body{
        height: 1200px;
    }

    .signup-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px
    }

    .heading h2{
        font-size: 50px;
        font-style: normal;
        line-height: 36px;
        color: #282973;
        margin-bottom: 30px;
        position: absolute;
        top: 91px;
        margin-right: 170px;
        z-index: 1;
    }

    .s-up-img{
        align-self: center;
        justify-self: center;
        position: relative;
        z-index: 1;
        top: 717px;
        margin-left: 450px;
        height: 400px;
    }

    .signup-form{
        display: flex;
        flex-direction: column;
        background-color: #E7F5FC;
        padding: 100px 70px;
        border-radius: 40px;
        height: 800px;
        position: relative;
        top: -330px;
    }

    .s-u-input-wrapper{
        border: 1px solid #282973;
        width: 344px;
        height: 48px;
        background-color: #FFFFFF;
    }

    .signup-form label{
        margin-top: 15px;
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #282973;
    }
    
    .s-u-full-name, .s-u-email, .s-u-user-name, .s-u-create-pwd, .s-u-confirm-pwd{
        outline: none;
        border: none;
        width: 312.5px;
        height: 46px;
        letter-spacing: normal;
        word-spacing: normal;
        font-size: 17px;
    }

    .s-u-input-wrapper i{
        visibility: hidden;
    }

    .shift{
        margin-left: 9px;
    }

    .icon{
        position: relative;
        top: 7px;
        width: 25px;
        height: 25px;
    }

    .s-u-btn{
        position: absolute;
        top: 570px;
        height: 62px;
        width: 183px;
        border-radius: 15px;
        border-style: none;
        background-color: #282973;
        border: 1px solid #282973;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
    }

    .log-in-link a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 540px;
        left: 120px;
        padding: 0;
        color: #326CFB;
        line-height: 24px;
        font-size: 28px;
        font-weight: 700;
    }

    .log-in-link a:hover{
        text-decoration: underline;
    }

    .s-u-socials{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        top: -490px;
        margin-right: 150px;
    }

    .s-u-socials h3{
        font-size: 26px;
    }

    .social-media-icons{
        display: flex;
        margin-left: 60px;
        margin-top: 0.5em;
    }

    .social-media-icons a{
        margin-left: 29px;
    }

    .social-media-icons a img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1025px) {

    .signup-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading{
        display: flex;
        position: relative;
        top: 60px;
    }

    .heading h2{
        font-size: 50px;
        font-style: normal;
        color: #282973;
        margin-right: 80px;
        z-index: 1;
    }

    .s-up-img{
        align-self: center;
        justify-self: center;
        position: relative;
        z-index: 1;
        top: 167px;
        left: 200px;
        height: 400px;
    }

    .entre-logo{
        display: flex;
        position: relative;
        left: 50px;
    }

    .entre-logo img{
        width: 191px;
        height: 68px;
    }
    
    .signup-form{
        display: flex;
        flex-direction: column;
        background-color: #E7F5FC;
        padding: 110px 70px;
        border-radius: 40px;
        height: 800px;
        position: relative;
        right: 250px;
        top: -360px;
    }

    .s-u-input-wrapper{
        border: 1px solid #282973;
        width: 344px;
        height: 48px;
        background-color: #FFFFFF;
    }

    .signup-form label{
        margin-top: 15px;
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #282973;
    }
    
    .s-u-full-name, .s-u-email, .s-u-user-name, .s-u-create-pwd, .s-u-confirm-pwd{
        outline: none;
        border: none;
        width: 312.5px;
        height: 46px;
        letter-spacing: normal;
        word-spacing: normal;
        font-size: 17px;
    }

    .s-u-input-wrapper i{
        visibility: hidden;
    }

    .shift{
        margin-left: 9px;
    }

    .icon{
        position: relative;
        top: 7px;
        width: 25px;
        height: 25px;
    }

    .s-u-btn{
        position: absolute;
        top: 590px;
        align-self: center;
        height: 62px;
        width: 183px;
        border-radius: 15px;
        border-style: none;
        background-color: #282973;
        border: 1px solid #282973;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
    }

    .log-in-link{
        display: none;
    }

    .s-u-socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -490px;
        right: 250px;
    }

    .s-u-socials h3{
        font-size: 28px;
    }

    .social-media-icons{
        display: flex;
        margin-left: 70px;
        margin-top: 0.5em;
    }

    .social-media-icons a{
        margin-right: 35px;
    }

    .social-media-icons a img{
        width: 60px;
        height: 60px;
    }
}